In [7]:
import pandas as pd

In [33]:
df = pd.read_csv("data/Churn_Modelling.csv")

In [34]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [37]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10100.000000,1.010000e+04,10100.000000,10100.000000,10100.000000,10100.000000,10100.000000,10100.000000,10100.000000,10100.000000,10100.000000
mean,5532.728614,1.607645e+07,650.305050,39.032970,5.017525,76732.722942,1.524851,0.703663,0.515644,100154.456277,0.206535
std,6584.588901,4.646204e+06,97.041153,10.656201,2.897665,62430.460372,0.587250,0.456664,0.499780,57675.008533,0.404839
min,1.000000,1.064636e+07,350.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.580000,0.000000
25%,2525.750000,1.562897e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000,50910.677500,0.000000
50%,5050.500000,1.569189e+07,652.000000,37.000000,5.000000,97258.330000,1.000000,1.000000,1.000000,100168.240000,0.000000
75%,7575.250000,1.575520e+07,718.000000,44.000000,8.000000,127760.862500,2.000000,1.000000,1.000000,149461.830000,0.000000
max,99490.000000,9.953280e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,247765.701143,1.000000

In [40]:
import random

# Function to generate a random gender
def generate_gender():
    return random.choice(['Male', 'Female'])

# Function to generate a random country
def generate_country():
    return random.choice(['France', 'Germany', 'Spain'])

# Generate 100 random rows
random_data = []
for _ in range(100):
    row = [
        random.randint(10000, 99999),              # Customer ID
        random.randint(10000, 99999),              # Customer ID
        random.randint(350, 850),        # Credit Score
        ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=random.randint(3, 10))),  # Last Name
        random.randint(18, 92),                  # Age
        generate_country(),                        # Country
        generate_gender(),                         # Gender
        random.randint(0, 10),                    # Tenure
        random.randint(0, 500000),                     # Balance
        random.uniform(1, 250000),                 # Estimated Salary
        random.randint(0, 5),                      # Num of Products
        random.randint(0, 1),                      # Has Credit Card
        random.randint(0, 1),                      # Is Active Member
        random.randint(0, 1)
    ]
    random_data.append(','.join(map(str, row)))

# Print the generated random data
for row in random_data:
    print(row)

93213,11564,600,wktwart,36,Germany,Male,6,376465,111393.52384445348,5,0,1,1
16721,68976,391,kpogfn,48,Germany,Male,5,343497,184791.95169776966,2,1,1,0
37965,23673,613,bmq,22,Germany,Female,10,179422,232275.89390911584,2,0,0,0
27970,94288,526,fsgiwjg,73,France,Female,3,182668,8705.709479034298,5,1,1,0
84430,43247,378,ltfbixkoi,51,Spain,Male,1,197251,45314.42015165121,3,0,0,0
22145,75588,598,liiqw,38,Spain,Male,10,22588,126101.99502400943,4,0,0,0
16109,73712,483,xjodcstu,51,Germany,Male,3,499102,249967.496016081,5,0,1,0
32216,24319,430,lythhkn,32,France,Male,9,247140,42139.842756846745,4,1,1,1
35165,82532,835,qpkqni,92,Germany,Female,7,9217,34353.378026085484,4,0,1,0
88871,10209,685,rtlfxrkvik,30,Germany,Female,6,264722,147844.1792090683,0,1,1,1
25227,51158,379,qrvmsrgjsn,84,Spain,Male,7,54883,113756.60156948461,2,0,0,1
90101,65465,451,qzacigh,76,Spain,Female,6,383216,195268.96287526833,4,1,1,0
15348,64136,735,rephz,25,Germany,Male,1,314949,202845.85085269765,1,0,0,0
92817,29986,674,jdp,92,Spain,Female,1,82839,82993.9868256202,2,0,0,1
86493,93273,597,nue,76,Germany,Male,7,233636,42736.33556473997,5,1,1,1
76012,90233,696,slvhsj,71,Spain,Male,4,32460,33368.25227253607,3,1,1,1
15537,51793,539,jni,60,Germany,Female,8,344126,105540.29024632834,0,1,1,1
24011,42983,465,vwhk,30,Germany,Female,5,302994,215475.56555516817,1,1,0,0
48136,97116,652,uyop,40,Spain,Male,0,180091,239525.04920252247,1,0,1,1
21692,31679,802,ybcrra,41,Germany,Female,5,404983,200220.1786100886,0,1,1,1
62462,10838,778,mjk,62,Germany,Female,1,348618,67146.65931827237,3,1,1,1
29423,23100,713,ceor,40,Germany,Male,9,457922,179524.7507275942,2,0,1,1
71238,81508,669,xpfvamrbkr,75,Spain,Male,7,218661,85818.26386792546,2,0,1,1
49747,85325,621,gjxaqcbk,24,Spain,Female,2,255425,78020.07407555229,4,0,0,0
42188,63149,685,fgkhker,57,Spain,Female,8,460934,38749.01128395379,1,1,0,1
71161,20606,526,zfepxz,89,Germany,Female,7,267994,137544.35442304774,5,1,0,0
11500,99225,515,gwqaxewzv,18,Germany,Female,2,156140,82779.43710835597,5,1,0,0
15355,54030,365,wlllbu,80,Spain,Male,1,423980,716.6593005296572,5,1,1,0
51087,95626,612,kjylfdkd,79,Spain,Female,10,40442,214219.8469763222,5,1,1,1
87748,30484,742,yal,18,France,Female,1,49689,227525.38902959658,0,1,0,1
35592,57985,460,qpthyl,42,Germany,Female,1,82395,115673.25665969074,0,0,0,1
54791,61681,678,iwbjxnnjm,89,France,Female,2,40021,237763.77561370257,0,1,0,0
69658,63042,444,lyva,91,Spain,Female,10,12374,86108.4247717287,0,1,1,1
26992,48342,556,lffsfi,89,France,Male,9,164268,92881.09492883203,5,0,0,0
20185,66237,532,jjxnskwqih,20,France,Male,7,355817,234959.22697879412,2,0,0,1
35379,63645,376,lof,52,Spain,Male,5,97884,138440.85782274944,2,1,1,1
31176,35189,440,eerniryud,40,Germany,Female,7,277561,103911.65472912336,1,1,1,0
77410,47780,545,ebdxjgzr,42,France,Female,6,413799,161241.86889084682,2,0,1,1
10570,11989,487,ueft,36,France,Female,4,2677,86229.3423606631,3,1,0,0
96569,79441,628,lxckd,69,Spain,Female,3,426585,134215.12066542308,3,1,1,0
45286,81168,602,quraqlad,80,France,Male,4,284433,244495.26769880194,2,1,0,0
97880,89022,736,hyq,66,France,Male,5,411503,240039.4557809883,3,1,1,0
32818,55294,545,ahzfyft,51,Spain,Male,9,135359,247560.72994305272,0,1,1,0
23219,49091,482,ujzlo,32,France,Male,9,77590,96574.77951021724,5,0,0,1
72322,44548,485,pqtn,18,Spain,Female,5,132549,131547.07298306955,2,0,1,1
33571,37412,667,zaebrcok,18,Germany,Male,1,9565,132416.13121015904,3,1,1,0
78498,40271,791,jmlaces,31,Germany,Female,0,113036,145585.75850540175,0,1,0,1
86020,70178,757,bahx,44,France,Male,9,491100,236977.6960464161,5,0,1,1
53490,18106,464,rzvpbgjyj,81,Germany,Male,4,464161,73598.05929685233,1,0,0,1
75084,16207,783,uvedxiq,67,Spain,Male,1,66622,35128.41833128957,5,1,1,0
43644,53253,420,sbdy,59,Germany,Female,6,339431,124553.70398240551,0,0,1,0
90585,46355,363,iswsc,58,France,Male,9,39889,217012.1847542809,4,1,0,0
19139,89134,570,rthywzifko,59,Germany,Male,9,152961,221995.25029030762,2,1,0,0
48288,57131,497,gfjlzicahk,31,France,Female,4,376555,240376.0517670619,4,1,0,1
13770,70368,824,avqhrvbp,33,Spain,Female,5,16705,37298.830455057505,1,0,1,0
52964,68618,810,svwwjvckcs,30,Germany,Male,2,295396,217312.3471518837,4,1,0,1
12828,32059,577,rtwnzjfa,26,Spain,Female,7,147869,36606.95728300299,0,1,1,0
68490,33156,643,imilrjrsuu,55,Germany,Female,3,69454,157251.27355506536,0,1,0,1
54893,28405,594,qoqkjas,44,Germany,Male,7,83524,230532.63597987912,2,0,1,0
19191,37126,799,teexod,32,France,Male,5,142604,118019.84661214,4,0,0,1
48538,90047,596,wvzt,49,Germany,Female,0,233537,77866.0174632538,3,1,0,0
54013,36866,431,ajgwyfxo,53,France,Female,10,488474,77735.16562559907,1,0,1,1
54370,18646,733,ugqsyd,46,Germany,Female,6,48916,125451.12091628529,2,0,0,1
32676,94137,616,xhroo,20,France,Male,6,484987,141995.93223632302,3,1,0,0
38687,57100,834,laaimocyih,85,Germany,Female,6,65939,129710.33456123379,0,0,1,0
64765,80152,705,zahghphgyx,76,France,Male,4,65931,96479.55011568982,3,1,0,0
51707,82660,354,nfwstdn,20,Spain,Male,9,260554,135184.29932246066,0,1,1,0
77851,65822,526,jzakonbu,70,Germany,Male,9,474389,17489.303297426228,4,1,1,0
93984,39176,702,dcstumehlu,24,Germany,Male,0,240652,207119.74924933465,0,0,1,0
68767,76857,444,ycyyh,36,Germany,Female,6,31167,106534.27597963793,4,1,0,1
37691,29749,732,jxfh,92,Germany,Male,10,443348,65546.2617994521,1,1,1,0
72748,41601,479,oauueaz,74,France,Female,3,179332,104763.58477591777,0,0,0,0
98511,26071,661,fphn,33,France,Male,1,107383,207451.67639857013,0,0,0,1
28935,59651,435,gxqixf,66,France,Male,4,493042,104475.68839496291,2,0,1,1
54038,69011,795,usaoqfdvd,51,Spain,Male,7,109206,181425.49074898788,1,0,1,1
89939,14888,719,fumh,41,France,Male,9,2570,61665.08705965806,1,0,0,0
57993,53969,610,xnxgnv,21,France,Female,1,462980,181914.7634005377,5,1,1,0
75844,61421,644,yhbroefcuf,23,Germany,Female,0,417370,237167.82333161106,5,0,0,1
81546,51523,364,biuanaau,49,Germany,Female,10,467218,122425.58754295635,2,1,1,0
97154,27067,376,lubxglwz,21,Spain,Female,1,391837,167178.9660208888,1,0,0,0
10340,57737,601,fjkprv,21,France,Female,6,293272,156337.71386548798,2,1,0,1
13871,60486,437,aow,49,Germany,Female,9,481837,79378.61032502915,5,1,1,0
17966,46227,422,snqpn,72,Spain,Female,9,15835,2899.854749074574,3,0,0,1
84881,82964,614,qggumcdzk,68,France,Female,0,264089,174914.3507828543,4,1,0,1
47121,96571,556,pvce,76,France,Female,8,384300,209584.66265524444,2,1,0,1
65698,58814,518,coiurh,89,Spain,Male,5,192769,54912.184063757806,0,0,0,0
48049,15784,805,noniouy,29,France,Female,4,345474,242809.11441592235,2,0,1,1
82815,16018,624,ujhn,72,Germany,Male,1,4156,231234.8520921657,2,1,1,1
77288,35401,424,zriyq,24,Spain,Female,6,231456,38111.852743183925,3,1,0,0
80427,41049,543,vezekt,76,France,Male,7,194182,179646.48588151208,2,1,0,1
12457,13110,381,gvtmz,19,France,Male,9,38136,139954.39818889846,2,0,0,0
13782,44316,547,ibcmuc,85,Germany,Female,10,398799,225813.06983037796,3,1,1,1
74208,11502,452,ndwzwxp,82,Spain,Female,10,110980,217090.05335352337,5,1,1,0
20327,78984,621,wvar,24,Spain,Female,0,408933,157134.20523596022,2,0,1,1
30616,89520,550,tmqotpreru,83,Germany,Male,9,149103,188404.23519774416,1,1,1,1
37790,31273,749,hvpsw,71,Germany,Female,6,373146,243832.21913892525,5,0,1,1
89255,50030,645,qrgwatoo,57,Spain,Male,2,267471,95473.69232860646,0,1,0,1
93795,84663,716,zbpddm,60,Germany,Female,1,406451,113066.2211494129,3,1,1,0
98509,36047,758,shgganskn,57,Spain,Male,7,484982,81789.04725278815,1,0,1,0
61762,33828,607,wcddbpqjh,51,Germany,Female,5,287182,179118.29318108622,3,1,0,0